/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente y fondo */
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    padding: 15px;
    color: #000;
}

/* Estilos del logo y texto */
.logo {
    text-align: left;
    white-space: nowrap;
    margin-bottom: 20px;
}

.logo-img,
.linea-vertical,
.text {
    display: inline-block;
    vertical-align: middle;
}

.logo-img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/* Estilos linea vertical */
.linea-vertical {
    width: 2px;
    height: 90px;
    background-color: #000;
    margin: 0 15px;
}

/* Estilos del texto */
.text h1 {
    color: #39a900;
}

/* Estilos de la sección de ingreso */
.ingresar-form {
    text-align: left;
    margin-left: 100px;
    margin-top: 60px;
    color: #000;
}

#username,
#password {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #39a900;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2e7d00;
}

/* Estilos de navegación */
.nav input[type="checkbox"] {
    display: none;
}

.nav {
    max-width: 1100px;
    margin: 20px auto;
    margin-left: 100px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #39a900;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*position: fixed;*/
}

.menu-icon {
    display: none;
}

.menu {
    list-style: none;
    text-align: center;
    margin-top: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 8px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 8px 12px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #39a900;
    color: white;
    border-radius: 10px;
}


/* Estilos de la sección de imágenes */
#imagenes {
    padding: 20px;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
}

#imagenes h4 {
    color: #39a900;
    margin-bottom: 20px;
}

.galeria {
    text-align: center;
}

/* Estilos de las imágenes */
.imagen-1 {
    display: inline-block;
    width: 300px;
    margin: 10px;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.imagen-1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imagen-1 figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #333;
    font-size: 14px;
}

.galeria img {
    width: 100%;
    border: 2px solid #ccc;
    font-style: italic;
    color: #333;
}

.imagen-2 {
    display: inline-block;
    width: 310px;
    margin: 10px;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.imagen-2 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imagen-2 figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #333;
    font-size: 14px;
}

.imagen-3 {
    display: inline-block;
    width: 322px;
    margin: 10px;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.imagen-3 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imagen-3 figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #333;
    font-size: 14px;
}

/* Estilos de la sección de bienvenida */
#home {
    padding: 20px;
    margin-top: 140px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#home h5 {
    color: #39a900;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.bienvenidos {
    text-align: center;
    margin-top: 5px;
}

.texto-bienvenida p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

/* Estilos de las imágenes */
.imagen-bienvenida-1 {
    display: inline-block;
    width: 900px;
    margin: 10px;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.imagen-bienvenida-1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imagen-bienvenida-1 figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #333;
    font-size: 14px;
}

.imagen-bienvenida-2 {
    display: inline-block;
    width: 400px;
    margin: 10px;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.imagen-bienvenida-2 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imagen-bienvenida-2 figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #333;
    font-size: 14px;
}

.imagen-bienvenida-3 {
    display: inline-block;
    width: 270px;
    margin: 10px;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.imagen-bienvenida-3 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imagen-bienvenida-3 figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #333;
    font-size: 14px;
}

/* Estilos de las secciones de libros */
#libros {
    padding: 20px;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
}

#libros h4 {
    color: #39a900;
    margin-bottom: 20px;
}

/* Estilos de las secciones de videos */
#videos {
    padding: 20px;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
}

#videos h4 {
    color: #39a900;
    margin-bottom: 20px;
}

/* Estilos de las secciones de documentación */
#documentacion {
    padding: 20px;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
}

#documentacion h4 {
    color: #39a900;
    margin-bottom: 20px;
}

/* Estilos de las secciones de texto */
#texto {
    padding: 20px;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
}

#texto h4 {
    color: #39a900;
    margin-bottom: 20px;
}

/* Estilos de las secciones de cursos */
#cursos {
    padding: 20px;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
}

#cursos h4 {
    color: #39a900;
    margin-bottom: 20px;
}

/* Estilos de las secciones de normas */
#normas {
    padding: 20px;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
}

#normas h4 {
    color: #39a900;
    margin-bottom: 20px;
}

/* Estilos para eliminar los puntos de las listas */
section, ul{
    list-style: none;
    padding-left: 0;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px){
    .logo-img {
        width: 70px;
        height: 70px;
    }

    .linea-vertical {
    height: 70px;
    }

    .text h1,
    .text h2,
    .text h3 {
    font-size: 14px;
    }

    .ingresar-form {
        text-align: center;
        margin: 20px;
        margin-right: 5px;
        margin-top: 10px;
    }

    #username,
    #password {
        width: 150px;
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 20px;
    }

    button {
        margin: 15px auto;
        padding: 5px 8px;
    }

    .nav {
        position: relative;
        width: 100%;
        padding: 10px;
        margin-left: -5px;
    }

    .menu {
        display: none;
        background-color: #eee;
        padding: 10px;
        border-radius: 10px;
    }
    
    /* Mostrar menú solo si está checked */
    #menu-toggle:checked + .menu-icon + .menu {
        /* Hermano adyacente la regla se cumple porque .menu-icon debe ir justo después de #menu-toggle
        .menu debe ir justo después de .menu-icon */
        display: block;
    }
    
    .menu li {
        display: block;
        margin: 10px 0;
        text-align: left;
    }
    
    .menu a {
        display: block;
        background-color: #e0e0e0;
        padding: 10px;
    }
    
    .menu-icon {
        display: block;
    }

    #home {
        margin-top: 20px;
    }

    .imagen-bienvenida-1 {
        display: block;
        width: 100%;
        margin: 10px auto;
        text-align: center;
    }
    
    .imagen-bienvenida-2,
    .imagen-bienvenida-3 {
        display: block;
        width: 90%;
        margin: 10px auto;
        text-align: center;
    }
    
    .imagen-bienvenida-1 img {
        width: 100%;
        height: auto;
    }
    
    .imagen-bienvenida-2 img,
    .imagen-bienvenida-3 img {
        width: 90%;
        height: auto;
    }
    
    .imagen-bienvenida-1 figcaption {
        text-align: center;
    }
    
    .imagen-bienvenida-2 figcaption,
    .imagen-bienvenida-3 figcaption {
        text-align: center;
    }

    #imagenes {
        padding: 10px;
        margin-top: 20px;
    }

    .imagen-1,
    .imagen-2,
    .imagen-3 {
        display: block;
        width: 90%;
        margin: 10px auto;
        text-align: center;
    }

    .imagen-1 img,
    .imagen-2 img,
    .imagen-3 img {
        width: 100%;
        height: auto;
    }

    .imagen-1 figcaption,
    .imagen-2 figcaption,
    .imagen-3 figcaption {
        text-align: center;
        font-size: 14px;
    }

    #libros {
        padding: 10px;
        margin-top: 20px;
    }

    #libros h4 {
        font-size: 18px;
    }

    #videos {
        padding: 10px;
        margin-top: 20px;
    }

    #videos h4 {
        font-size: 18px;
    }

    #documentacion {
        padding: 10px;
        margin-top: 20px;
    }

    #documentacion h4 {
        font-size: 18px;
    }

    #texto {
        padding: 10px;
        margin-top: 20px;
    }

    #texto h4 {
        font-size: 18px;
    }

    #cursos {
        padding: 10px;
        margin-top: 20px;
    }

    #cursos h4 {
        font-size: 18px;
    }

    #normas {
        padding: 10px;
        margin-top: 20px;
    }

    #normas h4 {
        font-size: 18px;
    }
}