/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente y fondo */
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    padding: 15px;
    color: #000;
}

/* Estilos del logo y texto */
.logo {
    text-align: left;
    white-space: nowrap;
    margin-bottom: 20px;
}

.logo-img,
.linea-vertical,
.text {
    display: inline-block;
    vertical-align: middle;
}

.logo-img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/* Estilos linea vertical */
.linea-vertical {
    width: 2px;
    height: 90px;
    background-color: #000;
    margin: 0 15px;
}

/* Estilos del texto */
.text h1 {
    color: #39a900;
}

/* Estilos de navegación */
.nav input[type="checkbox"] {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 26px;
    padding: 10px;
    background-color: #39a900;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    width: fit-content;
}

.menu {
    list-style: none;
    text-align: center;
    margin-top: 10px;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 12px;
}

.menu a:hover {
    background-color: #39a900;
    color: white;
    border-radius: 5px;
}

/* Media queries */
@media (max-width: 768px){
    .logo-img {
    width: 70px;
    height: 70px;
    }

    .linea-vertical {
    height: 70px;
    }

    .text h1,
    .text h2,
    .text h3 {
    font-size: 14px;
    }

    .menu {
    display: none;
    text-align: left;
    margin-top: 10px;
    }

  /* Mostrar menú solo si está checked */
    #menu-toggle:checked + .menu-icon + .menu {
    display: block;
    }

    .menu li {
    display: block;
    margin: 10px 0;
    }

    .menu a {
    display: block;
    background-color: #e0e0e0;
    padding: 10px;
    }

    .menu-icon {
    display: block;
    }
}

#imagenes {
    padding: 20px;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
}

#imagenes h4 {
    color: #39a900;
    margin-bottom: 20px;
}

.galeria {
    text-align: center;
}

.imagen-item {
    display: inline-block;
    width: 300px;
    margin: 10px;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.imagen-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.imagen-item figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #333;
    font-size: 14px;
}

.galeria img {
    width: 100%;
    border: 2px solid #ccc;
    font-style: italic;
    color: #333;
}